<div class="container-fluid">
    <div class="row">
        <h1 class="d-flex justify-content-center my-4">User area</h1>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-title text-center">My Profile</h3>
                <img src="{{logged.imageUrl}}" alt="user profile image" />
                <div class="card-body text-center">
                    <h5 class="card-title">{{logged.username}}</h5>
                    <p class="card-title">{{logged.email}}</p>
                    <div class="card-btns">
                        <div class="btn btn-secondary">
                            <a style="color: azure; " href="/user-profile/{{logged._id}}">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <h3 class="card-title text-center">Favortite Recipes</h3>
                <img src="{{logged.imageUrl}}" alt="user profile image" />
                <div class="card-body text-center">
                    <ul>
                        <li>
                            <a href=""><i class="fas fa-heart me-2"></i>Some recipe title to go here</a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-heart me-2"></i>Some recipe title to go here</a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-heart me-2"></i>Some recipe title to go here</a>
                        </li>
                    </ul>
                    <div class="card-btns">
                        <div class="btn btn-secondary">
                            <form action="/user-favorite-list" method="get">
                                <button type="submit">fav</button>
                            </form>
                            <a style="color: azure; " href="/user-favorite-list">View favorites</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-title text-center">My Own Recipes</h3>
                <img src="{{imageUrl}}" alt="user profile image" />
                <div class="card-body text-center">
                    <ul>
                        <li>
                            <a href=""><i class="fas fa-check me-2"></i>Some recipe title to go here</a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-check me-2"></i>Some recipe title to go here</a>
                        </li>
                        <li>
                            <a href=""><i class="fas fa-check me-2"></i>Some recipe title to go here</a>
                        </li>
                    </ul>
                    <div class="card-btns">
                        <div class="btn btn-secondary">
                            <a style="color: azure; " href="/user-recipes-list">View/Add/Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
