<div class="container-fluid justify-content-center">
  <div class="col-recipe-page">

    <div class="row recipe-page-row-one mt-5">
      
      <div class="col-md-4 recipepage-img-container">
        <img class="mt-4" src="{{recipeDetail.imageUrl}}" alt="" />
      </div>

      <div class="col-md-4 col-specs-container">

        <h2 class="mt-4 d-flex justify-content-center">{{recipeDetail.title}}</h2>

        <div class="recipe-page-specs d-flex me-2 ms-2">
          <h4><i class="far fa-clock me-1"></i>{{recipeDetail.time}}min</h4>
          {{#eq recipeDetail.category "fish"}}
            <h4 class="card-title"><i
                class="fas fa-fish me-1"
              ></i>{{recipeDetail.category}}</h4>
          {{else}}
            {{#eq recipeDetail.category "meat"}}
              <h4 class="card-title"><i
                  class="fas fa-drumstick-bite me-1"
                ></i>{{recipeDetail.category}}</h4>
            {{else}}
              {{#eq recipeDetail.category "desert"}}
                <h4 class="card-title"><i
                    class="fas fa-ice-cream me-1"
                  ></i>{{recipeDetail.category}}</h4>
              {{else}}
                {{#eq recipeDetail.category "vegetarian"}}
                  <h4 class="card-title"><i
                      class="fas fa-leaf me-1"
                    ></i>{{recipeDetail.category}}</h4>
                {{/eq}}
              {{/eq}}
            {{/eq}}
          {{/eq}}
          {{#eq recipeDetail.dificulty "easy"}}
            <h4 class="card-title"><i
                class="far fa-smile me-1"
              ></i>{{recipeDetail.dificulty}}</h4>
          {{else}}
            {{#eq recipeDetail.dificulty "medium"}}
              <h4 class="card-title"><i
                  class="far fa-meh me-1"
                ></i>{{recipeDetail.dificulty}}</h4>
            {{else}}
              {{#eq recipeDetail.dificulty "hard"}}
                <h4 class="card-title"><i
                    class="far fa-tired me-1"
                  ></i>{{recipeDetail.dificulty}}</h4>
              {{else}}
              {{/eq}}
            {{/eq}}
          {{/eq}}
        </div>

        <div>
          <h4 class="me-2 ms-2">rating: {{avRatingRound}} <i class="far fa-star"></i></h4>
        </div>

        <div class="recipe-page-user me-2 ms-2">
          <h4>by:
            <i
              class="fas fa-user-circle me-1"
            ></i>{{recipeDetail.user.username}}</h4>
        </div>

        {{#if loggedInUser}}
          
          
          <div class="recipe-page-fav me-2 ms-2">
            <form action="/recipe-page/{{recipeDetail._id}}/favorites" method="POST">
              <button class="fav-btn" onclick="displayClickedMessageFav()" onmouseover="changeFavClass()" onmouseout="changeFavClass2()" type="submit">
                <i id="heart" class="far fa-heart"></i>
                <span class="fav-rat-text">Add to favorite list!</span>
              </button>
            </form>
            <h6 id="fav-on-click">Added to favorites!</h6>
          </div>

          <div class="recipe-page-rating me-2 ms-2">
            <form
              action="/recipe-page/{{recipeDetail._id}}/rating"
              method="post"
            >
              <div>
                <input type="radio" name="rating" value="1" />
                <label>1</label>

                <input type="radio" name="rating" value="2" />
                <label>2</label>

                <input type="radio" name="rating" value="3" />
                <label>3</label>

                <input type="radio" name="rating" value="4" />
                <label>4</label>

                <input type="radio" name="rating" value="5" />
                <label>5</label>

                <button class="rating-btn" onclick="displayClickedMessageRat()" onmouseover="changeRatingClass()" onmouseout="changeRatingClass2()" type="submit">
                  <i id="star" class="far fa-star"></i>
                  <span class="fav-rat-text">Rate this recipe!</span>           
                </button>
                <h6 id="rat-on-click">Rating updated!</h6>

              </div>
            </form>
          </div>

        {{/if}}
        
      </div>
      
    </div>

    {{! -----------------Row 2------------------ }}

    <div class="row recipe-page-row-two mb-5">

      <div class="col-md-4">
        <div>
          <h4 class="mt-5 me-2 ms-2">Preparation steps</h4>
        </div>
        <div class="me-2 ms-2">
          <ol>
            {{#each recipeDetail.preparation}}
              <li> {{step}} </li>
            {{/each}}
          </ol>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <h4 class="mt-5 me-2 ms-2">Ingredients List</h4>
        </div>
        <div>
          <ul class="me-2 ms-2">
            {{#each recipeDetail.ingredients}}
              <li>{{name}} {{quantity}} {{unit}}</li>
            {{/each}}
          </ul>
        </div>
      </div>

{{!--       <div class="col-md-12">
        <h3 class=" my-4 d-flex justify-content-center"> Users Reviews</h3>
      </div> --}}

    </div>
  </div>